#fondo {
    background: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

p {
    font-family: 'Crimson Text', serif;
    text-align: justify;
    font-size: larger;
}

.container {
    background-color: white;
    border-radius: 15px;
}

.region {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-size: 37px;
    text-align: center;
    vertical-align: middle;
  }

  #r_pacifica {
    color: white;
    background: rgb(121,63,9);
    background: radial-gradient(circle, rgba(121,63,9,1) 67%, rgba(255,255,255,1) 100%);
  }


  #mainTitle {
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgb(255, 255, 43);
    /*background: rgb(249,255,0);
    background: radial-gradient(circle, rgba(249,255,0,1) 0%, rgba(255,254,204,1) 93%);
    */text-align: center;
    vertical-align: middle;
    font-family: 'Viga', sans-serif;
}